#blog-page {
    background: #fff;
    padding: 60px 0;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.para {
    text-align: justify;
    padding: 20px 10%;
}

.blog-img1 {
    float: right;
    margin: 0 0 0 25px;
}

.blog-img2 {
    float: left;
    margin: 0 25px 0 0px;
}