.icon-bar {
    position: fixed;
    top: 50%;
    border-radius: 50;
    z-index: 5;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: rgba( 0, 0, 0, 0.5);
    color: white;
}

.facebook {
    background: #3B5998;
    color: white;
}

.instagram {
    background: #C32E9A;
    color: white;
}

.spotify {
    background: #2BD05D;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

.float {
    position: fixed;
    padding: 1.2% 2.4%;
    top: 9%;
    right: 0;
    background-color: rgb(0, 122, 204);
    color: #FFF;
    font-size: larger;
    border-radius: 10px 0 0 10px;
    text-align: center;
    /* box-shadow: 2px 2px 3px #999; */
}

.float:hover {
    color: #fff;
    background-color: rgb(0, 85, 141);
}

.float2 {
    position: fixed;
    padding: 1.2% 2.4%;
    bottom: 0%;
    left: 0;
    background-color: #00428A;
    color: #FFF;
    font-size: larger;
    border-radius: 0 10px 0 0;
    text-align: center;
    /* box-shadow: 2px 2px 3px #999; */
}

.float2:hover {
    color: #fff;
    background-color: #1064be;
}

@media (max-width: 768px) {
    .icon-bar {
        display: none;
    }
    .float {
        display: none;
    }
    .float2 {
        display: none;
    }
}