/* Style the tab */
.tab {
  align-items: center;
  align-self: center;

  overflow: hidden;
  background-color: white;
  color: white;

}

#team.row{
  align-items: center;
  align-self: center;
  text-align: center;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: white;

  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color:red;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #004A99;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */

}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
