.tab {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px
}

@media (max-width: 767px) {
    .tab {
        display: inline-table;
    }
}

#team.row {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


/* Style the buttons that are used to open the tab */

.tab button {
    background-color: white;
    align-items: center;
    align-self: center;
    text-align: center;
    justify-content: center;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.0001s;
}


/* Change background color of buttons on hover */

.tab button:hover {
    color: red;
}


/* Create an active/current tablink class */

.tab button.active {
    color: #004A99;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

#team .member {
    display: block;
    text-align: center;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}